@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    margin-right:0 ;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    transition: all 0.4s ease;
}
body{
    overflow-x: hidden;
    background: aliceblue;
}
section{
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
@media(max-width:567px){
    section{
        padding: 0 10px;
    }
}



section.dark{
    background-color: #24292d ;
}


 
section .container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    max-width: 550px;
    background-color:#fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    position: relative;
}
@media (max-width: 576px) {
    section .container {
        height: 100px;
        /* width:220px */
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:530px){
    section{
        display: flex;
    align-items: center;
    justify-content: center;
    }
}
section.dark .container{
    background-color: #323840;
}

section .container .icons i{
    position: absolute;
    right: 17px;
    top: 17px;
    height: 20px;
    width: 20px;
    background: #24292d;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}
/* @media (max-width: 576px) {
    section.dark .container .icons i{
        /* height: 100px; */
        /* width:220px */
        /* min-height: 100%; */ 
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
} */
section.dark .container .icons i{
    background: #fff;
    color: #323840;
}

.container .icons i.fa-sun{
    opacity: 0;
    pointer-events: none;
}
section.dark .container .icons i.fa-sun{
    opacity: 1;
    pointer-events: auto;
}

section .container .time{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container .time .time-colon{
    display: flex;
    align-items: center;
    position: relative;
}

.container .time .time-colon .time-text{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: aliceblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media(max-width:572px){
    .container .time .time-colon .time-text{
        width: 80px;
        height: 80px;
    }
}

section.dark .time .time-colon .time-text{
    background: #24292d;
}
.time .time-colon .time-text, .time .time-colon .colon{
    font-size: 35px;
    font-weight: 600;
}
section.dark .time .time-colon .time-text , section.dark .time .time-colon .colon{
   color: #fff;
}

.time .time-colon .colon{
    font-size: 40px;
    margin: 0 10px;
}
.time .time-colon .amPm{
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

section.dark .time .time-colon .amPm{
    color: #fff;
}
@media(max-width:572px){
    .time .time-colon .amPm{
        font-size: 10px;
        right: -28px;
    }
}

.time .time-colon .time-text .text{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}